:root {
    --violet: #652d92;
    --light-violet: #844fbb;
    --dark-violet: #5a1882;
    --green: #d0cf39;
    --orange: #d56f21;
    --white: #fff;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-VariableFont_wght.ttf') format('truetype'),
        url('../fonts//Poppins-VariableFont_wght.woff') format('woff'),
        url('../fonts/Poppins-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Montserrat-VariableFont_wght.woff') format('woff'),
        url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: 'YesevaOne';
    src: url('../fonts/YesevaOne-Regular.ttf') format('truetype'),
        url('../fonts/YesevaOne-Regular.woff') format('woff'),
        url('../fonts/YesevaOne-Regular.woff2') format('woff2');
}

/* animation */
@keyframes dots-loader {
    0%, 100% {
      background: var(--orange);
    }
    10%, 90% {
      background: var(--white);
    }
    20%, 80%{
      background: var(--white);
    }
    30%, 70%{
      background: var(--white);
    }
    40%, 60%{
      background: var(--white);
    }
    50% {
      background: var(--white);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
      }
      20% {
        transform: translate(-11px, 2rem) rotate(-10deg);
      }
      30% {
        transform: translate(13px, 3rem) rotate(20deg);
      }
      50% {
        transform: translate(8px, 5rem) rotate(30deg);
      }
      70% {
        transform: translate(40px, 7rem) rotate(40deg);
      }
      100% {
        transform: translate(0, 10rem) rotate(360deg);
      }
}

@keyframes reveal {
    from {
        height: 0; 
    }
    to {
        height: 45vw;
    }
} 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--violet);
    font-family: 'Montserrat';
    font-size: 1rem;
    line-height: 1.46;
    color: var(--white);
}

.section {
    max-height: 50.6rem;
}

/* Page */
.page {
    max-width: 85vw;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;

}

/* Header */
.page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

/* mobile menu bar */
.header__toogle {
    display: none;
    align-self: center;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    margin-left: 1.2rem;
}

.dot {
    width: 10%;
    height: 10%;
    background: var(--white);
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 30%;
    transform-origin: center;
    transition: all 0.5s ease;
}

.dot:nth-of-type(1) {
    transform: rotate(0deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s  infinite ;
}

.dot:nth-of-type(2) {
    transform: rotate(30deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .1s infinite ;
}

.dot:nth-of-type(3) {
    transform: rotate(60deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .2s infinite ;
}

.dot:nth-of-type(4) {
    transform: rotate(90deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .3s infinite ;
}
    
.dot:nth-of-type(5) {
    transform: rotate(120deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .4s infinite ;
}
    
.dot:nth-of-type(6) {
    transform: rotate(150deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .5s infinite ;
}
    
.dot:nth-of-type(7) {
    transform: rotate(180deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .6s infinite ;
}
    
.dot:nth-of-type(8) {
    transform: rotate(210deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .7s infinite ;
}

.dot:nth-of-type(9) {
    transform: rotate(240deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .8s infinite ;
}

.dot:nth-of-type(10) {
    transform: rotate(270deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s .9s infinite ;
}

.dot:nth-of-type(11) {
    transform: rotate(300deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s 1s infinite ;
}

.dot:nth-of-type(12) {
    transform: rotate(330deg) translate(200%,120%);
    -webkit-animation: dots-loader 8s 1s infinite ;
    animation: dots-loader 1.2s 1.1s infinite ;
}

.page__menu:hover .dot:nth-of-type(1) { transform: translate(-0.65rem, -0.65rem); }
.page__menu:hover .dot:nth-of-type(2) { transform: translate(0, -0.65rem); }
.page__menu:hover .dot:nth-of-type(3) { transform: translate(0.65rem, -0.65rem); }
.page__menu:hover .dot:nth-of-type(4) { transform: translate(-0.65rem, 0); }
.page__menu:hover .dot:nth-of-type(5) { transform: translate(0, 0); }
.page__menu:hover .dot:nth-of-type(6) { transform: translate(0.65rem, 0); }
.page__menu:hover .dot:nth-of-type(7) { transform: translate(-0.65rem, 0.65rem); }
.page__menu:hover .dot:nth-of-type(8) { transform: translate(0, 0.65rem); }
.page__menu:hover .dot:nth-of-type(9) { transform: translate(0.65rem, 0.65rem); }
.page__menu:hover .dot:nth-of-type(10) { display: none; }
.page__menu:hover .dot:nth-of-type(11) { display: none; }
.page__menu:hover .dot:nth-of-type(12) { display: none; }   

/* Header menu list */
.header__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    padding-bottom: 1.5rem;
    font-weight: 600;
    font-size: clamp(0.9rem, 1.5vw, 1.25rem);
    margin-left: 2rem;
}

.menu__link {
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu__link.active, .menu__link:hover {
    color: var(--green);
    font-weight: 800;
}

.menu__link a {
    text-decoration: none;
    text-wrap: nowrap;
}

/* Logo */
.header__logo {
    width: 5rem;
    height: auto;
    z-index: 10;
}

.header__logo svg {
    width: 100%;
    height: 100%;
    fill: var(--violet);
    cursor: pointer;
}

.header__logo svg:hover {
    fill: var(--white);
    animation: shake-vertical 0.5s ease;
}

/* Page info */
.page__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.info__container {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    width: 30%;
    margin-left: 2rem;
}

.info__title {
    font-family: 'YesevaOne';
    font-weight: 400;
    font-size: 2rem;
    transform: scaleY(1.1);
    margin-bottom: 2vh;
}

.info__date {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    transform: scaleY(1.1);
}

.info__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.95rem;
}

.page__website {
    font-family: 'Poppins';
    font-weight: 700;
    color: var(--dark-violet);
    position: absolute; 
    right: 0; 
    top: 0; 
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: right center; 
}

/* Buttons */
.page__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.general__btns {
    display: flex;
    gap: 3vh;
}

.button {
    width: 8rem;
    padding: 0.95rem 0 0.85rem;
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    line-height: 1;
    border: 0.15rem solid var(--green);
    border-radius: 1.2rem;
    transition: all 0.3s ease;
    background-color: transparent;
}

.button:hover, .button:focus, .button.active {
    background-color: var(--green);
    color: var(--dark-violet);
    font-weight: 800;
    animation: shake 0.5s ease;
}

.social__btns {
    display: flex;
    align-items: flex-end;
    gap: 2vh;
    height: auto;
}

.social__icon {
    width: 100%;
    height: 100%;
}

.social__icon svg {
    width: 1.5vw;
    height: 100%;
    fill: var(--light-violet);
    cursor: pointer;
    transition: all 0.3s ease;
}

.social__icon svg:hover {
    fill: var(--dark-violet);
}

/* decorative elements */
.bg__green {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 27vw;
    min-height: 100vh;
    background-color: var(--green);
}

.violet__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "";
    position: absolute;
    top: -6.5rem;
    left: -8rem;
    z-index: -1;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: var(--light-violet);
}

.litle__circle {
    content: "";
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--violet);
}

.violet__star {
    background: var(--light-violet);
    width: 8rem;
    height: 8rem;
    position: relative;
    text-align: center;
}
  
.violet__star::before,
.violet__star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
    width: 8rem;
    background: var(--light-violet);
}
  
.violet__star::before {
    transform: rotate(30deg);
}
  
.violet__star::after {
    transform: rotate(60deg);
}

.violet__leaf {
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -1;
    width: 20.5rem; 
    height: 20.5em; 
    background: var(--dark-violet);
    border-radius: 100% 0;
}

.star__container {
    position: absolute;
    z-index: -2;
}

.star__container--orange {
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
    left: 0;
}

.star__container--green {
    width: 2.8rem;
    height: 2.8rem;
    bottom: 10rem;
    left: 25rem;
}

.star__container--violet {
    top: 50%;
    left: 50%;
}

.orange__star {
    width: 5.5rem;
    height: 5.5rem;
    background-color: var(--orange); 
    position: absolute;
}

.green__star {
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--green); 
    position: absolute;
}

.circle {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: var(--violet);
    border-radius: 50%;
}

.circle--orange {
    width: 5.5rem;
    height: 5.5rem;
}

.circle--green {
    width: 2.8rem;
    height: 2.8rem;
}

.circle1 {
    top: -50%;
    left: -50%;
}

.circle2 {
    top: -50%;
    right: -50%;
}

.circle3 {
    bottom: -50%;
    left: -50%;
}

.circle4 {
    bottom: -50%;
    right: -50%;
}

.leaf__container {
    position: absolute;
    top: 3.5rem;
    left: 30rem;
    z-index: 3; 
    width: 10rem;
}

.green__leaf {
    width: 100%;
    position: absolute;
    top: 0; 
    animation: fall 3s linear forwards; 
}

.melon__container {
    position: absolute; 
    top: 10rem;
    right: 10rem;
    width: auto;
    height: 100%;
    overflow: hidden; 
    animation: reveal 2s linear forwards;
}

.melon {
    height: 100%;
    height: 100%;
    object-fit: cover;
}

.dots__container {
    position: absolute; 
    bottom: 10rem; 
    right: 10rem; 
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    width: 16rem;
    height: 16rem;
    justify-content: center;
    align-items: center;
}

.white-dot {
    width: 0.65rem;  
    height: 0.65rem; 
    background-color: var(--white);
    border-radius: 50%;
}


